/* Looping background color palette  */

/*.hero,
.cta {
	animation-name: backgroundColorPalette;
	animation-duration: 40s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear; /* linear is enabled by default. It’s not necessary to add it to make it work but it can make your code more expressive */
/*}*/

/*.mega-footer-wrapper {
	animation-name: borderColorPalette;
	animation-duration: 40s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear; /* linear is enabled by default. It’s not necessary to add it to make it work but it can make your code more expressive */
/*}*/

/*@keyframes backgroundColorPalette {
	0% {
		background: #16C3F3;
	}
	50% {
		background: #04C8B4;
	}
	100% {
		background: #00CC9C;
	}
}

@keyframes borderColorPalette {
	0% {
		border-bottom-color: #16C3F3;
	}
	50% {
		border-bottom-color: #04C8B4;
	}
	100% {
		border-bottom-color: #00CC9C;
	}
}*/

/* Header menu animated underline effect */
/* It is important to set the position of the target link (in this case .header-menu .menu-item a) to relative for this to work */

.header-menu .menu-item a {
	position: relative;
}

.header-menu .menu-item a::before {
 content: "";
	position: absolute;
	width: 100%;
	height: 3px;
	bottom: -8px;
	left: 0;
	background-color: $accent-color;
	border-radius: 3px;
	visibility: hidden;
	transform: scaleX(0);
	transition: all 0.3s ease-in-out 0s;
}

.header-menu .menu-item a:hover::before {
	visibility: visible;
	transform: scaleX(1);
}

/* Mega footer menu animated underline effect */
/* It is important to set the position of the target link (in this case .footer-widget-area .menu > li > a) to relative for this to work */

.footer-widget-area .menu > li > a::before {
	content: "";
 	position: absolute;
 	width: 100%;
 	height: 1px;
 	bottom: -1px;
 	left: 0;
 	background-color: $primary-text-color;
 	visibility: hidden;
 	transform: scaleX(0);
 	transition: all 0.3s ease-in-out 0s;
}

.footer-widget-area .menu > li > a:hover::before {
	visibility: visible;
	transform: scaleX(1);
}

/* Animated underline effect for the footer copyright links */
/* It is important to set the position of the target link (in this case .footer-copyright div a) to relative for this to work */

/*.footer-copyright div a {
	text-decoration: none;
	position: relative;
}

.footer-copyright div a::before {
 content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	bottom: 0;
	left: 0;
	background-color: lighten($primary-color, 5%);
	visibility: hidden;
	transform: scaleX(0);
	transition: all 0.3s ease-in-out 0s;
}

.footer-copyright div a:hover::before {
	visibility: visible;
	transform: scaleX(1);
}*/
