.wpforms-field-container,
.wpforms-submit-container {
  max-width: $content-max-width;
}

input#wpforms-2541-field_0,
input#wpforms-2541-field_0-last,
input#wpforms-2541-field_1 {
  height: 60px;
  border: 1px solid $my-darkgrey;
  border-radius: 4px;
}

input#wpforms-2541-field_0:focus,
input#wpforms-2541-field_0-last:focus,
input#wpforms-2541-field_1:focus,
textarea#wpforms-2541-field_2:focus {
  outline: auto;
}

textarea#wpforms-2541-field_2 {
  min-height: 300px;
  border: 1px solid $my-darkgrey;
  border-radius: 4px;
  font-family: $content-font;
}

label#wpforms-2541-field_0-error,
label#wpforms-2541-field_0-last-error,
label#wpforms-2541-field_1-error,
label#wpforms-2541-field_2-error {
  margin-top: 4px;
  font-weight: 700;
  color: $my-black;
}

div.wpforms-container-full .wpforms-form .wpforms-field-label {
  margin: 12px 0 8px 0;
}

// Hide the reCAPTCHA badge
div.wpforms-container-full .wpforms-form .wpforms-recaptcha-container {
  display: none;
}

button#wpforms-submit-2541 {
  width: 180px;
  height: 60px;
  border-radius: 7px;
  font-family: $navigation-font;
  font-size: 1.2rem;
  font-weight: 700;
  border: 2px solid $my-black;
  background-color: transparent;
  color: $my-black;
  transition: all 0.3s ease-in-out 0s;
}

button#wpforms-submit-2541:hover {
  background-color: $my-black;
  color: $my-white;
}

div.wpforms-container-full .wpforms-form .wpforms-submit-container {
  max-width: $content-max-width;
  text-align: center;
  padding-top: 30px;
}
