.site-footer {
  width: 100%;
  /*height: 290px;*/
  height: auto;
  background-color: $azara-dark-grey;
  padding: 30px 20px 15px;
  color: white;
}

.mega-footer-wrapper {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.mega-footer-1 {
  flex-basis: 300px;
  display: grid;
  align-content: center;
  justify-content: flex-start;
}

.mega-footer-2,
.mega-footer-3 {
  flex-basis: 200px;
  padding: 20px 0 0 35px;
}

.mega-footer-2 {
  border-left: 1px solid $azara-medium-grey;
}

.footer-widget-area > h3 {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 10px;
  margin-bottom: 0;
}

.footer-widget-area .wp-block-image {
  margin: 0;
}

.footer-widget-area li {
  list-style-type: none;
  list-style-position: inside;
}
