.site-header {
  /*position: relative;*/
  width: 100%;
  height: 82px;
  background-color: white;
}

.site-header-container {
  max-width: 1000px;
  height: 82px;
  margin: 0 auto;
}

.site-branding {
  float: left;
  width: 137px;
  height: 56px;
  margin-top: 12px;
}
