.hero {
  width: 100%;
  background-color: $azara-light-blue;
  color: white;
}

/*.page .hero,
.single .hero,
.blog .hero,
.archive .hero,
.error404 .hero {
  height: 200px;
}*/

.home .hero {
  height: 625px;
  border-bottom: 8px solid $azara-dark-blue;
}

.hp-hero-container {
  position: relative;
  max-width: $content-max-width;
  margin: 0 auto;
  padding-top: 45px;
}

.hp-hero-text {
  max-width: 460px;
}

.hp-hero-heading {
  margin: 0;
  max-width: 425px;
  line-height: 1.22;
  letter-spacing: 2.5px;
}

.hp-hero-subheading {
  font-family: $heading-font;
  font-weight: 700;
  font-size: 38px;
  letter-spacing: 2px;
  margin: 25px 0 20px;
}

.hp-hero-lead {
  font-size: 21px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.5px;
  margin: 0;
}

.hp-hero-image {
  position: absolute;
  right: -87px;
  bottom: -181px;
  max-width: 600px;
  height:auto;
}
