.entry-content > * {
  margin: 0 auto 40px;
  max-width: $content-max-width;
  padding-left: 0;
  padding-right: 0;
}

.entry-content > .alignwide {
  max-width: 1070px;
}

.entry-content > .alignfull {
  margin: 1.5em 0;
  max-width: 100%;
}

.entry-header,
.page-header,
.entry-footer,
.site-info,
.posts-navigation,
.post-navigation,
.page-navigation,
.not-found .page-content,
.search .entry-summary {
  margin: 1.5em auto;
  padding-left: 0;
  padding-right: 0;
  max-width: $content-max-width;
}

.entry-header .wp-post-image {
  margin-bottom: 1.5em;
}

.wp-post-image {
  display: block;
  margin: 0 auto;
}

.entry-footer span {
  margin-right: 1em;
}

.entry-footer {
  color: $primary-text-color;
  font-size: smaller;
  padding-bottom: 40px;
  border-bottom: 1px solid $my-grey;
}

.type-page footer.entry-footer {
  display: none;
}
