.entry-content > * {
  margin: 0 auto 40px;
  max-width: $content-max-width;
  padding-left: 0;
  padding-right: 0;
}

.entry-content > .alignwide {
  max-width: 1070px;
}

.entry-content > .alignfull {
  margin: 1.5em 0;
  max-width: 100%;
}

.entry-header,
.page-header,
.entry-footer,
.site-info,
.posts-navigation,
.post-navigation,
.page-navigation,
.not-found .page-content,
.search .entry-summary {
  margin: 1.5em auto;
  padding-left: 0;
  padding-right: 0;
  max-width: $content-max-width;
}
