.service-section {
  background-color: $secondary-bg-color;
  height: auto;
  padding: 60px 0;
  width: 100%;
  margin: 0 auto;
}

.service-section-wrapper {
  margin: 0 auto;
  max-width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.service {
  box-sizing: border-box;
  background-color: $my-white;
  color: $primary-text-color;
  max-width: 450px;
  padding: 40px 20px 10px;
  border-radius: 10px;
  box-shadow: 0 20px 80px $my-mediumgrey;
  position: relative;
  margin: 50px;
}

.service-icon {
  color: $my-white;
  font-size: 3rem;
  position: absolute;
  top: -45px;
  left: 50%;
  transform: translate(-50%);
  background: $primary-color;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  display: grid;
}

.service-icon > i {
  align-self: center;
  justify-self: center;
  color: $my-white;
}

.service-section-wrapper.row-1 > .service:nth-child(1) > .service-icon > i {
  font-size: 74px;
}

.service-section-wrapper.row-1 > .service:nth-child(2) > .service-icon > i {
  font-size: 48px;
}

.service-section-wrapper.row-2 > .service:nth-child(1) > .service-icon > i {
  font-size: 54px;
}

.service-section-wrapper.row-2 > .service:nth-child(2) > .service-icon > i {
  font-size: 54px;
}

.service-heading {
  font-family: $heading-font;
  font-size: 1.5rem;
  color: $primary-text-color;
}
