.wp-block-quote > p {
  position: relative;
}

.wp-block-quote > p,
.wp-block-quote > cite {
  font-style: italic;
  padding: 0 8% 0 50px;;
}

.wp-block-quote > cite {
  font-size: smaller;
}

.wp-block-quote > cite::before {
  content: "— ";
}

.wp-block-quote > p::before,
.wp-block-quote > p::after {
  position: absolute;
  color: $my-grey;
  margin-left: -15px;
}

.wp-block-quote > p::before {
  content: "\201C";
  top: 0;
  left: 0;
  line-height: 0.9;
}

.wp-block-quote > p::after {
  content: "\201D";
  bottom: 0;
  right: 0;
  line-height: 0.1;
}

.wp-block-quote > p::before,
.wp-block-quote > p::after {
  font-size: 6rem;
}

.wp-block-quote.is-style-large > p::before,
.wp-block-quote.is-style-large > p::after {
  font-size: 7rem;
}
