/* Color variables */

/* Theme colors */

$azara-dark-orange: #D47500;
$azara-light-orange: #F7941E;
$azara-dark-blue: #366EAB;
$azara-light-blue: #00AEEF;
$azara-green: #8CAD44;
$azara-dark-grey: #333333;
$azara-medium-grey: #666666;
$azara-light-grey: #DDDDDD;
