/* Font variables */

$heading-font: "Montserrat", sans-serif;
/*$subheading-font: "Source Serif Pro", serif;*/
$navigation-font: "Roboto", sans-serif;
$content-font: "Open Sans", sans-serif;
$content-font-size: 18px;
$content-line-height: 1.9;
