@media screen and (max-width: 1260px) {

  /* Responsive navigation */
  .hamburger {
    display: block;
    font-size: 40px;
    float: none;
    margin: auto;
    /*float: right;*/
    /*position: absolute;
    top: 35px;
    right: 120px;*/
  }

}

/*@media screen and (max-width: 600px) {

  .hamburger {
    right: 70px;
  }

}*/
