@media screen and (max-width: 1260px) {

  .main-navigation.topnav {
    float: none;
    clear: both;
    width: fit-content;
    margin: 110px auto;
  }

  /* Responsive navigation */
  .wide-screen-nav {
    display: none;
  }

  .mobile-nav {
    /*position: absolute;
    top: 100px;*/
    width: 100vw;
    height: 300vh;
    background: $primary-color;
    border-top: 2px solid $my-white;
    z-index: 9;
    overflow-y: scroll;
    padding-top: 30px;
    /*padding-bottom: 300px;*/
    /*animation: slideInRight;
    animation-duration: 1.5s;*/
  }

  .mobile-nav > .header-menu {
    display: grid;
    grid-gap: 20px;
    text-align: center;
    border-bottom: none;
    width: 100%;
  }

  .header-menu{
    padding-right: 0;
  }

  .header-menu .menu-item a {
    margin-left: 0;
  }

  /*.menu-item a.active {
    border-bottom: none;
  }*/

}

@media screen and (max-width: 770px) {

  .footer-menu {
    display: none;
  }

  /* Uncomment if the footer menu is used */

  /*.footer-menu {
    display: grid;
    line-height: 2.5;
    margin: 20px 0;
    text-align: left;
  }

  .site-footer .menu-item a {
    margin-left: 0;
  }*/

}
