button {
  font-family: $heading-font;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: lowercase;
  color: white;
  background-color: $azara-light-orange;
  border: none;
  border-radius: 20px;
  height: 40px;
  padding: 0 25px;
  cursor: pointer;
}
