/* Underscores defaults */

/* Contact Form */

/*form {
  width: 80%;
  max-width: 500px;
}

label {
  font-family: $content-font;
  color: $my-grey;
  font-size: 18px;
  font-weight: 900;
  line-height: 1.5;
}

input,
textarea {
  height: 50px;
  width: 100%;
  margin-bottom: 10px;
  border: 2px solid $my-grey;
}

textarea {
  min-height: 250px;
}

label#fname,
input#fname,
label#lname,
input#lname {
  width: 47%;
}

label#fname,
input#fname {
  float: left;
}

label#lname,
input#lname {
  float: right;
}*/
/* End of Underscores defaults */


/* Caldera Forms */

/*#caldera_form_1 {
  max-width: 500px;
  margin-right: 20px;
}

.form-control {
  height: 50px;
}*/

/* WPForms */

/*div.wpforms-container-full {
  margin-left: 10px;
}*/
