html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  /*animation: fadein 1s;*/
  /*-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;*/
}

/*@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}*/
