@media screen and (min-width: 608px) {
  .wp-block-code {
    margin-left: auto;
    margin-right: auto;
  }

  .wp-block-cover-text p {
    padding: 1.5em 0;
  }

  .wp-block-table {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}
