a.back-to-top {
  background-color: rgba(32, 21, 101, 0.8);
  color: $my-white;
  border: 2px solid $my-white;
  opacity: 0;
  visibility: hidden;
  z-index: 99999;
}

.back-to-top {
  font-size: 30px;
  border-radius: 50%;
  position: fixed;
  bottom: 30px;
  right: 100px;
  line-height: 40px;
  width: 40px;
  text-align: center;
  z-index: 10;
  transition: opacity 300ms ease-in-out;
}

.back-to-top-icon {
  display: inline-flex;
  align-self: center;
}

.back-to-top-icon svg {
  height: 1em;
  width: 1em;
  top: 0.125em;
  position: relative;
  fill: $my-white;
}
