/* Hamburger */

.hamburger {
  padding: 0;
  cursor: pointer;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
  display: none; /* Hide the hamburger icon on large screens */
}

.hamburger:focus {
  outline: none;
}

.hamburger.is-active .hamburger-center,
.hamburger.is-active .hamburger-top,
.hamburger.is-active .hamburger-bottom {
  background-color: $my-white;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-center {
  display: block;
  top: 50%;
  margin-top: -1px;
}

.hamburger-center,
.hamburger-top,
.hamburger-bottom {
  width: 40px;
  height: 3px;
  background-color: $my-white;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-top,
.hamburger-bottom {
  /*content: "";*/
  display: block;
}

.hamburger-top {
  top: 0;
}

.hamburger-bottom {
  bottom: 0;
}

/** Spin **/

.hamburger--spin .hamburger-center {
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin .hamburger-top {
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}

.hamburger--spin .hamburger-bottom {
  transition: bottom 0.1s 0.25s ease-in,
    transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin.is-active .hamburger-center {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--spin.is-active .hamburger-top {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}

.hamburger--spin.is-active .hamburger-bottom {
  bottom: 11px;
  transform: rotate(-45deg);
  transition: bottom 0.1s ease-out,
    transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}
