/* Header menu */

.main-navigation.topnav {
  float: right;
  margin-top: 25px;
}

.topnav .menu-item a {
  font-family: $navigation-font;
  font-weight: 700;
  font-size: 19px;
  line-height: 2;
  color: $azara-dark-grey;
  text-transform: lowercase;
  text-decoration: none;
  margin-left: 52px;

    &:hover {
      color: lighten($azara-dark-grey, 20%);
    }
}

.topnav .menu-item-3055 a {
  display: inline-block;
  width: 138px;
  height: 40px;
  background-color: $azara-light-orange;
  border-radius: 20px;
  text-align: center;
  color: white;
  font-weight: 600;

    &:hover {
      color: white;
      background-color: lighten($azara-light-orange, 5%);
    }
}

.header-menu {
  margin: 0;
}

.wide-screen-nav .menu-item {
  display: inline-block;
}

.mobile-nav .menu-item {
  display: block;
  margin-top: 10px;
}

.mobile-nav {
  display: none;
}

.mobile-nav > .header-menu {
  display: none;
}

/* Footer menus */

.footer-widget-area .menu {
  padding-left: 0;
  display: grid;
}

.footer-widget-area .menu > li > a {
  margin-left: 0;
  color: white;
  position: relative;
  text-decoration: none;
  font-size: 16px;
  line-height: 2;
}

.footer-widget-area #menu-social-menu {
  padding-left: 0;
  display: flex;
}

.footer-widget-area #menu-social-menu > * {
  padding: 0 25px 0 0;
}

.footer-widget-area #menu-social-menu .dashicons {
  font-size: 25px;
}
