/* Header menu */

.main-navigation.topnav {
  float: right;
  margin-top: 25px;
}

.menu-item a {
  font-family: $navigation-font;
  font-weight: 700;
  font-size: 20px;
  color: $azara-dark-grey;
  text-transform: lowercase;
  text-decoration: none;
  margin-left: 52px;

    &:hover {
      color: lighten($azara-dark-grey, 20%);
    }
}

.menu-item-3055 a {
  display: inline-block;
  width: 138px;
  height: 40px;
  background-color: $azara-light-orange;
  border-radius: 20px;
  text-align: center;
  color: white;
  font-weight: 600;

    &:hover {
      color: white;
      background-color: lighten($azara-light-orange, 5%);
    }
}

.header-menu {
  margin: 0;
}

.wide-screen-nav .menu-item {
  display: inline-block;
}

.mobile-nav .menu-item {
  display: block;
  margin-top: 10px;
}

.mobile-nav {
  display: none;
}

.mobile-nav > .header-menu {
  display: none;
}

/* Footer menus */

.mega-footer-1 #menu-social-menu {
  display: inline;
  padding-left: 0;
}

.mega-footer-1 #menu-social-menu > li > a {
  margin-right: 20px;
  color: $primary-text-color;
  font-size: 0.9rem;
}

.footer-widget-area .menu {
  padding-left: 0;
  display: grid;
}

.footer-widget-area .menu-item {
  font-size: 0.9rem;
}

.footer-widget-area .menu > li > a {
  margin-left: 0;
  color: $primary-text-color;
  position: relative;
  text-decoration: none;
}

.footer-widget-area dl, ol, ul {
  margin-bottom: 1rem;
  padding-left: 0;
}

.footer-widget-area dl, ol, ul > li {
  list-style: none;
}

.footer-menu {
  display: none; /* Add to customizer */
  font-family: $navigation-font;
  font-size: 0.8rem;
  color: $primary-text-color;
  text-align: center;
  line-height: 5.5;
  padding-left: 0;
  margin-bottom: 0;
}
