@media screen and (max-width: 1024px) {

  .site-branding {
    margin-left: 14px;
  }

}

@media screen and (max-width: 330px) {

  a.site-title {
    font-size: 1rem;
  }

  .tagline {
    font-size: 0.78rem;
  }

}
